#button7 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}#button7:hover{
    background-color: darkblue
}
#button8 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}
#button9 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}
#button4 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}
#button5 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}
#button6 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}
#button1 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;    
}
#button2 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}
#button3 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}
#buttonClear {    background-color: rgba(255, 255, 255, 0.664);
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;


}
#button0 {
    background-color: aqua;
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;
}
#Gleich {    background-color: rgba(255, 255, 255, 0.664);
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;

}
#buttonPLUS {background-color: rgba(255, 255, 255, 0.664);
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;

}
#buttonMINUS {background-color: rgba(255, 255, 255, 0.664);
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;

}
#buttonGETEILT {background-color: rgba(255, 255, 255, 0.664);
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;

}
#buttonMAL {background-color: rgba(255, 255, 255, 0.664);
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 80px;

}
#alfred {
    background-color: rgba(255, 255, 255, 0.664);
    position: relative;
    font-size: 40px;
    border-radius: 20px;
    width: 325px;

}
