#Num0 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
    border-radius: 10px;
    
}
#Num1 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
    border-radius: 10px;
    
}
#Num2 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
    border-radius: 10px;

}
#Num3 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
    border-radius: 10px;
}
#Num4 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
        border-radius: 10px;

}
#Num5 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
        border-radius: 10px;

}
#Num6 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
        border-radius: 10px;

}
#Num7 {
    background-color: rgba(255, 255, 255, 0.479);
    
    font-size: 20px;
        border-radius: 10px;
    
}
#Num8 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
    border-radius: 10px;
    
}
#Num9 {
    background-color: rgba(255, 255, 255, 0.479);
    font-size: 20px;
        border-radius: 10px;
    
}
#TastGeteilt {
    background-color: rgba(145, 211, 223, 0.479);
    font-size: 20px;
        border-radius: 10px;
    
}
#TastMal {
    background-color: rgba(145, 211, 223, 0.479);
    font-size: 20px;
        border-radius: 10px;
    
}
#TastMinus {
    background-color: rgba(145, 211, 223, 0.479);
    font-size: 20px;
    border-radius: 10px;
}
#TastPlus {
    background-color: rgba(145, 211, 223, 0.479);
    font-size: 20px;
    border-radius: 10px;
}
#TastGleich {
    background-color: rgba(145, 211, 223, 0.479);
    font-size: 20px;
    border-radius: 10px;
    
}
#RechnungAusgabe { 
    height: 50px;
    border-radius: 10px;
    -ms-text-size-adjust: 1px;

}