:root {
    --base-color: #f9f9f9;       
    --base-variant: #e0e0e0;     
    --text-color: #333333;       
    --secondary-text: #666666;
    --primary-color: #007bff;
    --accent-color: #ff5733;
}

.darkmode {
    --base-color: #121212;       
    --base-variant: #2a2a2a;     
    --text-color: #ffffff;       
    --secondary-text: #ffcc00;   
    --primary-color: #3700b3;
    --accent-color: #ff7597;
}

body {
    font-size: 25px;
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; 
    font-family: sans-serif;
}

#Bauteil {
    font-size: 16px;
    background-color: var(--base-variant);
    color: var(--text-color);
    border-radius: 4px; 
    padding: 5px;
}

#ModellAuswahl {
    font-size: 16px;
    background-color: var(--base-variant);
    color: var(--text-color);
    border-radius: 4px;
    padding: 5px;
}

#StartButton {
    padding: 6px 12px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-switch svg {
    fill: var(--text-color); 
}

#theme-switch svg:first-child {
    display: block;
}
#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}
#ListeKomponenten {
    font-size: 16px;
    background-color: var(--base-variant);
    color: var(--text-color);
    position: fixed;
    top: 50%;
    left: 0px;
    text-size-adjust: 20px;
}

#BauteilBild {
    width: 150px;
    height: auto;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: block;
    margin: 10px auto;
}
#AusgewaelterInhalt {
    top: 30px;
    left: 10;
    position: relative;
}

#AusgewaelterInhaltSpecs {
    top: 50px;
    left: 10px;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    font-size: 1.1rem;
}

#AusgewaelterInhaltSpecs li {
    margin-bottom: 6px;
}